body {
	font-family: Libre Caslon Text;
	background-color: #fddcd1;
	overflow: hidden;
  }

#menuicon:checked ~ .menu-pane {
	left: -5vw;
	transform: translateX(-5vw);
  }

#menuicon:checked ~ .hamburger-icon #span2 {
	transform: translate(0%, 175%) rotate(-45deg);
	background-color: rgb(0, 0, 0);
}
  
#menuicon:checked ~ .hamburger-icon #span3 {
	transform: rotate(45deg);
	background-color: rgb(0, 0, 0);
}
  
#menuicon:checked ~ .hamburger-icon #span1 {
	opacity: 0;
}
  
#menuicon:checked ~ .hamburger-icon #span4 {
	opacity: 0;
  }
  
.hamburger-icon {
	position: absolute;
	z-index: 1;
	top: 2vh;
	left: 2vw;
	padding-bottom: 2vh;
}
  
.hamburger-icon span {
	height: 5px;
	width: 40px;
	background-color: black;
	display: block;
	margin: 5px 0px 5px 0px;
	transition: 0.7s ease-in-out;
	transform: none;
}

input.hamburger-checkbox {
	position: absolute;
	z-index: 3;
	top: 2vh;
	left: 2vw;
	width: 10vw;
	opacity: 0;
	height: 6vh;
}

.menu-pane {
	background-color: transparent;
	position: absolute;
	transform: translateX(-105vw);
	transform-origin: (0, 0);
	width: 100%;
	height: 100%;
	transition: 0.6s ease-in-out;
  }
  
.menu-pane p {
	color: black;
	font-size: 0.6em;
}
  
.menu-pane nav {
	padding: 10%;
}
  
.menu-links li, a, span {
		transition: 0.5s ease-in-out;
}
  
.menu-pane ul {
	padding: 0%;
	display: inline-block;
}
  
.menu-pane li {
	margin-bottom: -1%;
	font-size: 1em;
}

#primerApartado {
	margin-top: -35%;
}

.links{
	height: 100%;
}

.amarillo {
	filter: hue-rotate(25deg) brightness(130%) saturate(110%) blur(3px);	
}

.rojo {
	filter: hue-rotate(310deg) brightness(130%) saturate(110%) blur(3px);	
}

.image-container{
    position: relative;
    display: inline-block;
    text-align: center;
	z-index: -3;
}

.menu-filter-blue{
    position: relative;
    display: inline-block;
    text-align: center;
	background-color: rgba(2, 167, 167, 0.397);
}

.menu-filter-yellow{
    position: relative;
    display: inline-block;
    text-align: center;
	background-color: rgba(215, 218, 42, 0.397);
}

.menu-filter-red{
    position: relative;
    display: inline-block;
    text-align: center;
	background-color: rgba(218, 42, 42, 0.397);
}

.menu-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 1;
}

.enlace{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}